<div class="nav-scroller py-1 mb-2" w-bind>
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted" for(link in data.links) href="${link.href}">${link.name}</a>
  </nav>
</div>