<layout-placeholder name="header"/>
<main role="main" class="container">
    <div class="row">
        <layout-placeholder name="main"/>
        <layout-placeholder name="sidebar"/>
    </div>
</main>
<layout-placeholder name="footer"/>