<layout-placeholder name="header"/>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-8 blog-main">
            <layout-placeholder name="main"/>
        </div>
        <aside class="col-md-4 blog-sidebar">
            <layout-placeholder name="sidebar"/>
        </aside>
    </div>
</main>
<layout-placeholder name="footer"/>