<!DOCTYPE html>
<html lang=data.lang>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
    <layout-placeholder name="seo_title"/>
    <layout-placeholder name="seo_description"/>
    <lasso-head/>
</head>
<body>
<layout-placeholder name="controller"/>
<await-reorderer/>
<lasso-body/>
<init-widgets immediate/>
<browser-refresh enabled=(data.env=="development") />
</body>
</html>
