<div class="p-3" w-bind>
    <h4 class="font-italic">${data.data.title}</h4>
    <ol class="list-unstyled mb-0">
        <li for(link in data.lista)><a href="${link.link}">${link.text}</a></li>
    </ol>
</div>