<div w-bind>
  <layout-use(data.tpl, data)>
    <layout-put into="header">
      <mod-header />
    </layout-put>
    <layout-put into="main">
      <mod-main />
    </layout-put>
    <layout-put into="footer">
      <mod-footer />
    </layout-put>
  </layout-use>
</div>
