<aside class="col-md-4 blog-sidebar" w-bind>
    <com-about
        title="About" 
        content="Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur." 
    /> 
    <com-links-box title="Archives" links="1" />
    <com-links-box title="Elsewhere" links="2" />
</aside>